@import '../styles/variables.scss';

.pageContent {
  h1,
  h2,
  h3 {
    color: $primary-color;
    margin-top: 1rem;
  }
  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  ul,
  ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  dt {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  dd {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}
