name: 'Push and update PROD'

on:
  push:
    branches:
      - main
jobs:
  create-build:
    name: Create Build for Github Pages
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: npm install, build and test
      run: |
        npm install
        npm run build --if-present